<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="ar_gripper" params="tf_prefix parent">

    <!-- エンドエフェクタに取り付け（Z→X回転） -->
    <joint name="${tf_prefix}gripper_base_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="${pi} 0 ${-pi/2}"/>  <!-- ← タグを正しく閉じた -->
      <parent link="${parent}"/>
      <child link="${tf_prefix}gripper_base_link"/>
    </joint>

    <!-- スプレーガン本体 -->
    <link name="${tf_prefix}gripper_base_link">
      <visual>
        <geometry>
          <mesh filename="file://$(find annin_ar4_description)/meshes/ar4_mk3/spraygun_EE.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="">
          <color rgba="1 1 0 1"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find annin_ar4_description)/meshes/ar4_mk3/spraygun_EE.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.5"/>
        <inertia ixx="0.001" ixy="0" ixz="0"
                 iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
    </link>

  </xacro:macro>
</robot>
